*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
}
html, body{
    height: 100%;
}
.clear{
    clear: both;
}
.container{
    max-width: 1380px;
    margin: 0 auto;
}

header{
    /*max-height: 700px;*/
    min-height: 800px;
    padding: 40px 2%;
    width: 100%;
    height: 90vh;
    min-height: 90vh;
    color: white;
    background-image: url('../imagens/capa.png');
    background-position: cover;
    font-weight: 300;
    
}

header nav.desktop-menu{
    float: right;
}

nav.mobile-menu{
    
    cursor: pointer;
    display: none;
    float: right;
    width: 32px;
    height: 32px;
    background-image: url('../imagens/menu.png');
    background-size: 100% 100%;
}

nav.mobile-menu:hover ul{
    opacity: 1;
}

nav.mobile-menu ul{
    opacity: 0;
    transition: 1s;
    background-color: white;
    position: absolute;
    width: 100%;
    left: 0;
    top: 80px;
    list-style-type: none;
    text-align: center;
}

nav.mobile-menu ul li{
    border-bottom: 1px solid black;
    padding: 8px 0;
}

nav.mobile-menu ul li:hover{
    background-color: rgb(230, 230, 230);
}

nav.mobile-menu ul li a{
    color: black;
    text-decoration: none;
}

.logo{
    position: relative;
    top: -7px;
    float: left;
    width: 160px;
    height: 40px;
    background-image: url('../imagens/logo-danki.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;


}

header nav.desktop-menu li{
    float: left;
    list-style-type: none;
    padding: 0 20px;
}

header nav.desktop-menu a{
    color: white;
    text-decoration: none;
}

.chamada1{
    max-width: 600px;
    float: none;
    margin: 100px 0px;
}

.chamada1 h2{
    font-size: 40px;
    color: white;
    font-weight: 300;
}
.chamada1 p{
    font-size: 15px;
    color: white;
    margin-top: 10px;
}

.sessao1{
    width: 100%;
    background-color: #472562;
    padding: 0px 2%;
    height: 400px;
}

.sessao2{
    padding-left: 2%;
    padding-right: 2%;
    background-color: white;
    text-align: center;
}
.sessao2 .container{
    max-width: 1000px;
}
.sessao2 h2{
    color: #472663;
    font-weight: 300;
}

.sessao2 h2 p{
    margin-top: 30px;
    max-width: 900px;
    display: inline-block
}

.sessao2 img{
    position: relative;
    top: 70px;
    width: 100%;
    margin-top: 30px;
}

.sessao3{
    width: 100%;
}

.part1{
    color: white;
    float: left;
    width: 50%;
    height: 350px;
    padding: 140px 0 90px 0;
    background-color: #835FA7;
}

.wraper-part1{
    max-width: 600px;
    float: right;
    padding: 0 30px;
}

.part1 h2{
    font-weight: 300;
    font-style: italic;
    font-size: 23px;
}

.part1 p{
    font-size: 15px;
    line-height: 35px;
    margin-top: 10px;
}

.part2{
    float: left;
    width: 50%;
    padding: 140px 0 90px 0;
    background-color: white;
}

.sobre-autor{
    float: left;
    max-width: 600px;
    padding-left: 30px;
}

.titulo-autor{
    float: left;
    width: 100%;
}

.wraper-titulo-autor{
    float: left;
}
.titulo-autor h2{
    color: #232323;
    font-weight: 400;
    font-size: 21px;
    padding-right: 20px;
}

.titulo-autor p{
    font-size: 13px;
    font-style: italic;
    color:#232323;
    font-weight: 300;
}

.titulo-autor 
.sessao1 .container{
    max-width: 1000px;
    height: calc(100% + 30px);
}
.titulo-autor .img-autor{
    position: relative;
    float: left;
    height: 40px;
    width: 40px;
    margin-top: -3px;
    border-radius: 20px;
    background-color: grey;
}

.texto-autor{
    float: left;
    width: 100%;
    margin-top: 10px;
}

.texto-autor p{
    color: #232323;
    font-size: 15px;
}
.slider-bullets{
    float: left;
    margin-left: 30px;
    margin-top: 12px;
}

.slider-bullets span{
    width: 16px;
    height: 16px;
    float: left;
    cursor: pointer;
    border-radius: 8px;
    margin-right: 8px;
    background-color: rgb(200, 200, 200);
}

.sessao4{
    background-color: #472563;
    padding: 100px 2%;
}
.form{
    float: left;
    width: 50%;
    color: white;
    padding-left: 25px;
}

.form h2{
    font-size: 23px;
    font-weight: 300;
}
.form p{
    font-size: 15px;
    font-weight: 300;
    max-width: 400px;
    padding-right: 10px;
}

.form form{
    margin-top: 15px;
}

.form form textarea{
    width: 90%;
    max-width: 480px;
    margin-top: 8px;
    border: 1px solid rgb(200, 200, 200);
    padding-left: 15px;
    height: 160px;
}

.form form input[type=text]{
    width: 90%;
    max-width: 480px;
    height: 58px;
    margin-top: 8px;
    padding-left: 8px;
    line-height: 58px;
    border: 1px solid rgb(200, 200, 200);
}
.form form input[type=submit]{
    background-color: #FF703D;
    width: 165px;
    height: 44px;
    font-size: 13px;
    color: white;
    cursor: pointer;
    margin-top: 15px;
    border-radius: 30px;
}

.map-wraper{
    float: left;
    width: 50%;
    padding: 0 10px;
    color: white;
    
}
.map-wraper h2{
    font-size: 23px;
    font-weight: 300;
}
.map-wraper3{
    margin-top: 10px;
    width: 100%;
    max-width: 480px;
    position: relative;
}

.map-wraper2{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding-top: 100%;
}
.map{
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 480px;
    background-color: white;
    border: 5px solid rgb(200, 200, 200);
}

.texto-sessao1{
    position: relative;
    left: 100px;
    float: left;
    width: 50%;
    color: white;
    margin-top: 60px;
    padding-left: 80px;

}
.texto-sessao1 h2{
    font-size: 26px;
    font-weight: 300;
   
}

.texto-sessao1 p{
    margin-top: 20px;
    font-size: 15px;
    font-weight: 400;
}

.texto-sessao1 ul{
    font-size: 15px;
    list-style-position: inside;
}

.texto-sessao1 ul li{
    float: left;
    width: 100%;
    margin-top: 8px;
}

.btn1-texto{
    background-color: #FF703D;
    width: 165px;
    height: 44px;
    color: white;
    cursor: pointer;
    text-align: center;
    margin-top: 30px;
    line-height: 44px;
    border-radius: 30px;
}

.device-sessao1{
    float: left;
    width: 50%;
    height: 430px;
    position: relative;
    top: -30px;
    background-image: url(../imagens/device.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
footer{
    padding: 40px 0;
    margin-top: -22px;
    background-color: #192123;
    color: white;
}

footer p:nth-of-type(1){
    float: left;
    font-size: 14px;
}

footer p:nth-of-type(2){
    float: right;
    font-size: 14px;
}


@media screen and (max-width: 830px){
    .chamada1{
        max-width: none;
        width: 100%;
        text-align: center;
        float: none;
        margin: 170px 0;
    }
    .chamada1 h2{
        font-size: 40px;
        color: white;
        font-weight: 300;
    }
    .chamada1 p{
        font-size: 15px;
        color: white;
        margin-top: 10px;
    }
}
@media screen and (max-width: 768px){
    header{
        padding: 40px 2%;
        width: 100%;
        height: 90vh;
        min-height: 90vh;
    }
    .chamada1{
        max-width: none;
        width: 100%;
        text-align: center;
        float: none;
        margin: 100px 0;
    }
    .chamada1 h2{
        font-size: 40px;
        color: white;
        font-weight: 300;
    }
    .chamada1 p{
        font-size: 15px;
        color: white;
        margin-top: 10px;
    }
    nav.desktop-menu{
        display: none;
    }

    nav.mobile-menu{
        display: block;
    }
    
    .sessao1{
        padding: 40px 2%;
        height: auto;
    }
    .texto-sessao1{
        width: 100%;
        float: none;
        padding-left: 0;
        position: static;
        margin-top: 0;
        display: inline-block;
        text-align: center;
    }
    .texto-sessao1 ul{
        display: inline-block;
        margin-top: 20px;
    }
    .texto-sessao1 ul li{
        float: none;
        text-align: left;
    }

    .btn1-texto{
        display: inline-block;
    }

    .device-sessao1{
        display: none;
    }
    .sessao2{
        padding-top: 40px 2%;
    }
    .section4 .container{
        text-align: center;
    }

    .form{
        padding: 0;
        text-align: center;
        float: none;
        width: 100%;
    }
    .form p{

        display: inline-block;
    }
    .map-wraper h2{
        text-align: center;
        font-size: 23px;
        font-weight: 300;
        margin-top: 20px;
    }
    .map-wraper{
        float: none;
        width: 100%;
        padding: 0 8%;
        margin-top: 40px;
    }
    .map-wraper3{
        padding-top: 100%;
        margin-top: 10px;
        width: 100%;
        display: inline-block;
        max-width: none;
        position: relative;
    }
    .map-wraper2{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        padding-top: 0;
    }
}

@media screen and (max-width: 580px){
    .part1{
        width: 100%;
        padding: 40px 0;
    }
    .part2{
        width: 100%;
        padding: 40px 0;
    }
    .sessao2 img{
        top: 16px;
        margin-top: 20px;
    }
    footer{
        text-align: center;
    }
    
    footer p:nth-of-type(1){
        float: none;
    }
    
    footer p:nth-of-type(2){
        float: none;
        margin-top: 8px;
    }
    
}   